@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
}
.texture-effect {
  background-image: url("dist/images/texture.png");
  background-blend-mode: screen;
  background-size: cover;
}
